.surface-container {
    position: relative;
}
.surface-container > * {
    position: absolute;
    top: 0;
    left: 0;
}
.surface-container > .surface-contents {
    filter: url(littleEndianFix.svg#svgfm-filter);
}
